[Desktop Entry]
Encoding=UTF-8
Name=Link to http://cse15-iiith.vlabs.ac.in/images/social/fb.png
Type=Link
URL=http://cse15-iiith.vlabs.ac.in/images/social/fb.png
Icon=image-png
Name[en_IN]=fb.png
